openapi: 3.0.3
info:
  title: Safety.uz API
  description: OpenAPI 3.0 specification for the Safety.uz e‑commerce platform (auth, users, products, categories, orders, cart, ratings, admin, news).
  version: 1.0.0
servers:
  - url: https://safety.uz
    description: Production server
tags:
  - name: auth
    description: Authentication endpoints
  - name: users
    description: User management
  - name: products
    description: Product catalog
  - name: categories
    description: Product categories
  - name: orders
    description: Orders and checkout
  - name: cart
    description: Shopping cart
  - name: ratings
    description: Product ratings
  - name: admin
    description: Super-admin endpoints
  - name: news
    description: News management
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
        code:
          type: integer
      required: [success]
    AuthLoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
      required: [email, password]
    AuthRegisterRequest:
      type: object
      properties:
        email:
          type: string
          format: email
        password:
          type: string
        first_name:
          type: string
        last_name:
          type: string
      required: [email, password]
    AuthStatusResponse:
      type: object
      properties:
        success:
          type: boolean
        logged_in:
          type: boolean
        user:
          $ref: '#/components/schemas/User'
    User:
      type: object
      properties:
        id:
          type: integer
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
      required: [id, email]
    Product:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        price:
          type: number
          format: float
        image_url:
          type: string
        category:
          type: string
        rating:
          type: number
          format: float
      required: [id, name]
    Category:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    OrderItem:
      type: object
      properties:
        product_id:
          type: integer
        quantity:
          type: integer
        price:
          type: number
    Order:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        total:
          type: number
    CartItem:
      type: object
      properties:
        itemId:
          type: integer
        product_id:
          type: integer
        quantity:
          type: integer
    Rating:
      type: object
      properties:
        id:
          type: integer
        product_id:
          type: integer
        user_id:
          type: integer
        rating:
          type: integer
        comment:
          type: string
    NewsItem:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        content:
          type: string
        image_url:
          type: string
        is_active:
          type: boolean
paths:
  /api/auth/login:
    post:
      tags: [auth]
      summary: User login
      description: Authenticate user with email and password. Returns JWT or sets server session.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthLoginRequest'
      responses:
        '200':
          description: Successful login (session established / token)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  token:
                    type: string
                  next:
                    type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/auth/register:
    post:
      tags: [auth]
      summary: Register a new user
      description: Create a new user account (email and password). Returns created user id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRegisterRequest'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  user_id:
                    type: integer
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/auth/status:
    get:
      tags: [auth]
      summary: Authentication status
      description: Returns whether the current request is authenticated and basic user info.
      responses:
        '200':
          description: Auth status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthStatusResponse'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/auth/logout:
    post:
      tags: [auth]
      summary: Logout current user
      description: Invalidate current session or token.
      responses:
        '200':
          description: Logged out
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
  /api/users/me:
    get:
      tags: [users]
      summary: Get current user
      description: Returns information about the authenticated user.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/users:
    get:
      tags: [users]
      summary: List users
      description: Return a paginated list of users (admin only).
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: page
          schema:
            type: integer
        - in: query
          name: per_page
          schema:
            type: integer
      responses:
        '200':
          description: Users list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/users/{id}:
    put:
      tags: [users]
      summary: Update user
      description: Update user fields (admin or owner).
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                phone:
                  type: string
      responses:
        '200':
          description: Updated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [users]
      summary: Delete user
      description: Remove a user (admin only).
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
  /api/products:
    get:
      tags: [products]
      summary: List products
      description: Return a paginated list of products with optional filters.
      parameters:
        - in: query
          name: q
          schema:
            type: string
        - in: query
          name: category
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
      responses:
        '200':
          description: Products
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
    post:
      tags: [products]
      summary: Create product
      description: Create a new product (admin/staff).
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                price:
                  type: number
                category_id:
                  type: integer
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/products/{id}:
    get:
      tags: [products]
      summary: Get product
      description: Fetch a single product by id.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags: [products]
      summary: Update product
      description: Update an existing product (admin/staff).
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                price:
                  type: number
      responses:
        '200':
          description: Updated product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
    delete:
      tags: [products]
      summary: Delete product
      description: Remove product (admin only).
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
  /api/categories:
    get:
      tags: [categories]
      summary: List categories
      description: Return all product categories.
      responses:
        '200':
          description: Categories
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
    post:
      tags: [categories]
      summary: Create category
      description: Create a new category (admin).
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
  /api/categories/{id}:
    put:
      tags: [categories]
      summary: Update category
      description: Update an existing category (admin).
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
    delete:
      tags: [categories]
      summary: Delete category
      description: Remove a category (admin only).
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
  /api/orders:
    post:
      tags: [orders]
      summary: Create order
      description: Place a new order for the authenticated user.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    $ref: '#/components/schemas/OrderItem'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      tags: [orders]
      summary: List orders
      description: Retrieve orders (admin can see all, user sees own orders).
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Orders list
          content:
            application/json:
              schema:
                type: object
                properties:
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
  /api/orders/{id}:
    get:
      tags: [orders]
      summary: Get order
      description: Get a single order by id (owner or admin).
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/cart:
    get:
      tags: [cart]
      summary: Get cart
      description: Get current user's cart (requires auth).
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Cart contents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CartItem'
    post:
      tags: [cart]
      summary: Add to cart
      description: Add an item to the authenticated user's cart.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: integer
                quantity:
                  type: integer
      responses:
        '200':
          description: Added
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
    delete:
      tags: [cart]
      summary: Remove cart item
      description: Remove an item from the cart.
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: itemId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
  /api/ratings:
    post:
      tags: [ratings]
      summary: Submit rating
      description: Submit a rating and optional comment for a product.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: integer
                rating:
                  type: integer
                comment:
                  type: string
      responses:
        '201':
          description: Rating saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'
  /api/ratings/product/{productId}:
    get:
      tags: [ratings]
      summary: Get product ratings
      description: Retrieve ratings for a given product.
      parameters:
        - in: path
          name: productId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Ratings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Rating'
  /api/super-admin/get-system-stats:
    get:
      tags: [admin]
      summary: Get system statistics
      description: Returns aggregated system metrics (admin only).
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Stats
          content:
            application/json:
              schema:
                type: object
  /api/super-admin/get-system-logs:
    get:
      tags: [admin]
      summary: Get system logs
      description: Retrieve recent system logs (admin only).
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Logs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /api/super-admin/get-environment-info:
    get:
      tags: [admin]
      summary: Environment info
      description: Return environment variables and runtime info (admin only).
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Environment info
          content:
            application/json:
              schema:
                type: object
  /api/news:
    get:
      tags: [news]
      summary: List news
      description: Returns news items; supports `ticker` and `limit` query params.
      parameters:
        - in: query
          name: ticker
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: News list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  news:
                    type: array
                    items:
                      $ref: '#/components/schemas/NewsItem'
    post:
      tags: [news]
      summary: Create news
      description: Create a news item (admin only).
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
                image_url:
                  type: string
                is_active:
                  type: boolean
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsItem'
  /api/news/{id}:
    delete:
      tags: [news]
      summary: Delete news
      description: Delete a news item (admin only).
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
security:
  - BearerAuth: []
