{% extends "base.html" %}
{% block content %}
  <div class="grid-2">
    <div class="card">
      <h2>Xodim kirishi</h2>
      <form method="post">
        <label>Xodim ID</label>
        <input type="number" name="staff_id" required placeholder="Masalan: 3">
        <label>Parol</label>
        <input type="password" name="password" required>
        <button class="btn" type="submit">Kirish</button>
      </form>
    </div>
    <div class="card">
      <h2>Ro'yxatdan o'tmaganmisiz?</h2>
      <p>Avval ro'yxatdan o'ting, ID sizga avtomatik beriladi.</p>
      <a class="btn" href="{{ url_for('staff_register') }}">Registratsiya</a>
    </div>
  </div>
{% endblock %}
